@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f7f9fd;
    color: #363d55;
    font-size: 16px;
}

.wrapper {
    width: 90%;
    max-width: 43.75em;
    margin: 1em auto;
    font-weight: 500;
}

.container {
    width: 100%;
}

.sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container input {
    display: block;
    width: 100%;
    padding: 0.6em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
}

.container input:focus {
    border-color: #587ef4;
}

.total-amount-container, .user-amount-container {
    background: #fff;
    padding: 1.25em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.1);
}

.output-container {
    background-color: #587ef4;
    color: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.1);
    margin: 2em 0;
    padding: 1.2em;
}

.output-container p {
    font-weight: 500;
    margin-bottom: 0.6em;
}

.output-container span {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
}

.submit {
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #587ef4;
    border: none;
    outline: none;
    color: #fff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit:hover {
    background-color: #466bd9;
}

.list {
    background-color: #fff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.1);
    border-radius: 0.6em;
}

.sublist-content {
    width: 100%;
    border-left: 0.3em solid #587ef4;
    margin-bottom: 0.6em;
    padding: 0.5em 1em;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
    gap: 1em;
}

.product {
    font-weight: 500;
}

.amount {
    color: #414a67;
    margin-left: 20%;
}

.icons-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.edit, .delete {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #587ef4;
    transition: color 0.3s ease;
}

.edit:hover, .delete:hover {
    color: #466bd9;
}

.hide {
    display: none;
}

.error {
    color: #ff465a;
    font-size: 0.875em;
}

@media screen and (max-width: 600px) {
    .wrapper {
        font-size: 14px;
    }

    .sub-container {
        grid-template-columns: 1fr;
        gap: 1em;
    }
}
